<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline'"
    />
    <title>AMPPS+ Fan Edition</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
<div id="root"></div>
</body>
</html>
